.noteItem {
    min-height: 100px;
    background: #ffff;
    border-radius: 15px;
    margin: 20px 10px;
    padding: 10px;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

li {
    list-style: none;
    width: 100%;
}

h3 {
    color: #9395D3;
}

