* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
}
/* ul {
  list-style: none;
}
li {
  text-align: left;
  margin: 10px 0;
  width: 200px;
}

p {
  width: 200px;
  white-space: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noteForm {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 200px;
}
.noteForm textarea {
  resize: none;
  height: 90px;
}

.noteList {
  width: 200px;
} */
